body {
  font-family: 'Roboto', sans-serif; /* Use Roboto font as the default font for the body */
}

.category-container {
  width: 100%;
  background-color: #0D2436;
  color: #FFFFFF;
}

.cat-title {
  text-align: left;
  padding-left: 10px;
  background-color: #9bc0dc;
  font-size: 36px;
}

.all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin: 10px 10px;
  background-color: #8a8ae3;
}

.item-image {
  width: 70%;
  height: 60%;
  border-radius: 50%;
}

.image-div {
  width: 70%;
  height: 60%;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
}

.btn-div {
  padding: 10px;
}

.select-btn {
  padding: 10px;
  background-color: #9bc0dc;
  font-size: 15px;
}

.submit-btn-div {
  padding: 10px;
  position: relative;
  left: 80%;
  top: -90px;
}

.submit-btn {
  padding: 10px;
  color: white;
  background-color: #6e8603;
  font-size: 20px;
}

.card:hover,
.submit-btn:hover {
  background-color: #34AC9C;
}

.active {
  background-color: #009B86;
}

.model {
background-color: #2ed992;
display: flex;
justify-content: center;
align-items: center;
width: 500px;
height: 400px;
position:fixed;
left: 30%;
bottom: 20%;
z-index: 10;
}

.close-btn {
  width: 4%;
  height: 5%;
  position: relative;
  left: 18%;
  bottom: 45%;
}